.second-page {
  height: 100vh;
  background-image: linear-gradient(180deg, #752677, black);
}

.second-image-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../images/second-page-image.png);
  background-repeat: no-repeat;
}
.second-image-position {
  width: 100%;
  height: 100vh;
}

.content-second {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
}

.text-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 30%;
  height: 100%;
  padding: 0px 8%;
  font-size: larger;
}

.text-second h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.text-second-part-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-second-part-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
